<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spabbitecomm.order.command.mapper.LineItemMapper">

	<insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.spabbitecomm.common.model.LineItemModel" useGeneratedKeys="true">
		insert into line_item (
		  id,
		  user_order_id,
		  product_id,
		  product_name,
		  quantity,
		  unit_price
		) values (
		  #{id},
		  #{userOrderId},
		  #{productId},
		  #{productName},
		  #{quantity},
		  #{unitPrice}
		)
	</insert>

</mapper>